<ul class="list-group">
    {% for list in user_lists %}
    <li class="list-group-item d-flex"><a href="#">{{list.name}} </a>
        <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#delete-list-modal-{{list.id}}">&#x274C</button>
    </li>
    {% include "users/modals/_list_delete_confirm.html"}
    {% endfor %}
</ul>
<button class="btn"
        hx-get="{% url 'create_list'%}"
        hx-swap="innerHTML"
        hx-target="#create-form-container">&#x2795; List
</button>
<div id="create-form-container"></div>